@media (min-width: 1300px) {
  .single_large_video_views div {
    width: 640px !important;
    height: 360px !important;
  }
}
@media (max-width: 650px) {
  .single_large_video_views div {
    width: 95vw !important;
    height: 25vh !important;
  }
}
