@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("slick_carousel.css");

@font-face {
  font-family: Bahnschrift;
  src: url(./font/BAHNSCHRIFT.TTF);
}

@font-face {
  font-family: Peace Sans;
  src: url(./font/Peace_Sans.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.ourteam__name {
  font-family: Peace Sans;
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.body__singlepost h2 {
  font-size: larger;
  font-weight: 600;
}

.more-nxt-gem-blog-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 40px;
}
@media (max-width: 768px){
.more-nxt-gem-blog-text{
  -webkit-line-clamp: 2;
  height: 32px;
}
}