@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("slick_carousel.css");

@font-face {
  font-family: Bahnschrift;
  src: url(./font/BAHNSCHRIFT.TTF);
}

@font-face {
  font-family: Peace Sans;
  src: url(./font/Peace_Sans.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.ourteam__name {
  font-family: Peace Sans;
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.body__singlepost h2 {
  font-size: larger;
  font-weight: 600;
}

.more-nxt-gem-blog-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 40px;
}


@media (max-width: 768px) {
  .more-nxt-gem-blog-text {
    -webkit-line-clamp: 2;
    height: 32px;
  }
}
.cryptoMovingHeading .ticker {
  top: 3px;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: revert !important;
  }
  .responsiveTable th {
    padding-left: 10px;
    padding-right: 10px;
  }

  .responsiveTable thead tr {
    position: static !important;
    top: -9999px;
    left: -9999px;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: 0.25em;
  }

  .responsiveTable td.pivoted[data-testid="td"] {
    /* Behave like a "row" */
    border: none !important;
    position: static !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: static !important;
    display: none !important;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}
