/* Slick Carousel */
.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}
.slick-dots {
  background-color: black;
}

.slick-dots li button:before {
  color: #1bd6fa !important;
  font-size: 10px !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 16px !important;
}
.slick-dots {
  padding: 3px !important;
  height: 40px !important;
  bottom: -4 0px !important;
}

.slideWrapper {
  display: flex;
  justify-content: center;
}

.prevArrow {
  position: absolute;
  top: 45%;
  left: 250px;
  z-index: 100;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextArrow {
  position: absolute;
  top: 45%;
  right: 250px;
  z-index: 100;
  font-size: 2.5rem;
}

.topStories_page_arrow:before {
  color: #1bd6fa !important;
  font-size: 30px !important;
}
