/* Slick Carousel */
.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}

.slideWrapper {
  display: flex;
  justify-content: center;
}

.prevArrow {
  position: absolute;
  top: 45%;
  left: 250px;
  z-index: 100;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-slider {
  padding-inline: 10vw;
}

.nextArrow {
  position: absolute;
  top: 45%;
  right: 250px;
  z-index: 100;
  font-size: 2.5rem;
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content
  img {
  height: 520px;
}

.react-3d-carousel {
  height: 520px !important;
}

@media (max-width: 500px) {
  .react-3d-carousel
    .slider-container
    .slider-content
    .slider-single
    .slider-single-content
    img {
    height: auto;
  }

  .react-3d-carousel {
    height: 236px !important;
  }
}
