.single_small_video_views div{
    height: 150px !important;
    width: 20vw !important;
}

@media (max-width: 700px){
    .single_small_video_views div{
        height: 150px !important;
        width: auto !important;
    }
}