.single_small_video_views div {
  height: 120px !important;
  width: 200px !important;
}

@media (max-width: 700px) {
  .single_small_video_views div {
    height: 150px !important;
    width: auto !important;
  }
}
