.slider__data {
  width: 80vw;
  margin: 0 auto;
}

.slider__data > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 85%;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .slider__data {
    height: fit-content;
  }

  .slider__data > div {
    width: 100%;
  }
}

.slider__data__first > div {
  padding-top: 0;
  padding: 20px 40px;
  animation: 10s animateBorderOne ease infinite;
}

@keyframes animateBorderOne {
  0% {
    outline: 0 3px dashed #e0e4cc;
    box-shadow: 0 0 0 3px #00163e;
  }
  50% {
    outline-color: #00163e;
    box-shadow: 0 0 0 3px #e0e4cc;
  }
  100% {
    outline: 0 3px dashed #e0e4cc;
    box-shadow: 0 0 0 3px #00163e;
  }
}

@media screen and (max-width: 768px) {
  .slider__data__first > div {
    animation: none;
    padding: 20px 0px;
  }
  .slider__data > div p,
  .slider__data > div ol {
    font-size: smaller;
  }
}

.slider__data > div p {
  color: white;
  padding: 5px 0;
}

.slider__data > div ol {
  list-style: circle;
  padding-left: 40px;
}

.slider__data > div h2 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  padding: 15px;
  margin-bottom: 10px;
  border: solid black;
  border-color: white;
  width: fit-content;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(0deg);
}
