.slider__data {
  width: 80vw;
  margin: 0 auto;
}

.slider__data > div {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 100vh;
  width: 85%;
  padding-top: 30px;
  
}



/* .slider__data > div :nth-child(1){
    width: 50vw;
}

.slider__data > div :nth-child(2){
    width: 50vw;
}
.slider__data > div :nth-child(3){
    width: 50vw;
} */

.slider__data > div p {
  color: white;
  padding:5px 0;

}





.slider__data > div h2 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  padding: 15px;
  /* margin-top: 35px; */
  margin-bottom: 10px;
  border: solid black;
  border-color: white;
  width: fit-content;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(0deg);
}

