.slider__data {
  width: 80vw;
}

.slider__data > div,
.slider__data > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .slider__data {
    height: fit-content;
  }

  .slider__data > div {
    width: 100%;
    padding-top: 90px;
  }
}

.slider__data__first > div,
.slider__data__first > p {
  padding-top: 0;
  padding: 20px 40px;
}



@media screen and (max-width: 768px) {
  .slider__data__first > div,
  .slider__data__first > p {
    animation: none;
    padding: 20px 0px;
  }
  .slider__data > div p,
  .slider__data > div ol {
    font-size: smaller;
  }
  .slider__data {
    width: 90vw;
  }
}

.slider__data > div p {
  color: white;
  padding: 5px 0;
}

.slider__data > div ol {
  list-style: circle;
  padding-left: 40px;
}

.slider__data > div h2 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  padding: 15px;
  margin-bottom: 10px;
  border: solid black;
  border-color: white;
  width: fit-content;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(0deg);
}
